<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DB_Module_pj.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DB_Module_pj.Properties.Settings>
            <setting name="DB_Conn" serializeAs="String">
                <value>UID=root; PWD=1234; Server=127.0.0.1; Port=3306; Database=dbinfo</value>
            </setting>
        </DB_Module_pj.Properties.Settings>
    </userSettings>
</configuration>